<h1>  Test sayfası</h1>
<a asp-area="Admin" asp-controller="Home" asp-action="Index"> Admin kısma geçmek için Tıklayınız </a> <br />
<a asp-area="Admin" asp-controller="Toplanti" asp-action="Index"> Toplantı kısma geçmek için Tıklayınız </a> <br />
<a asp-area="Admin" asp-controller="Yerleske" asp-action="Index"> Yerleske kısma geçmek için Tıklayınız </a> <br />